<html>
    <head>
        <title>Blocks</title>
        <link rel="stylesheet" type="text/css" href="/static/home.css">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
    </head>
    <body>
        <h1>Blocks<span style="float: right;">{{ today }}</span></h1>
        <div class="container">

            <div class="block block-add">
                +
            </div>

            <div class="block">
                <span class="time">12:00</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">12:10</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">12:20</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">12:30</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">12:40</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">12:50</span>
                <span class="activity">Programming</span>
            </div>
            <div class="block">
                <span class="time">1:00</span>
                <span class="activity">Programming</span>
            </div>

            <div class="block block-add">
                +
            </div>

        </div>
    </body>
</html>