<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1>Blocks</h1>
        <p>
            Most scheduling programs allow you to plan out how you intend to spend your, time yet rarely record or
            enforce what you actually do. Instead, Blocks provide a intuitive and convenient way to record how you
            allot time during the day after the fact. By analyzing wasted or poorly spent time, Blocks will help you
            improve your productivity and time management.
        </p>
        <button onclick="window.location = '/home/';">
            Try now!
        </button>
    </body>
</html>
