body {
    margin: 2em auto;
    width: 950px;
}

#container {
    width: 600px;
    margin-right: 2.5em;
    float: left;
}

#blocks {
    margin: auto;
    padding-bottom: 30px;
    border-collapse: collapse;
    margin-bottom: 40px;
}

.block {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: -1px;
    margin-right: -1px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.block.selected {
    background-color: lightblue !important;
}

#editor {
    max-width: 310px;
    float: left;
    position: fixed;
}

#editor button {
    margin-top: 7px;
}

#selection {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.space {
    display: block;
    margin-top: 15px;
}

ul {
    margin-top: 3px;
    padding-left: 30px;
}

#editor h1 { font-size: 35px; margin-top: 15px; margin-bottom: 5px; }
#editor h2 { font-size: 25px; margin-top: 5px; }

#selection-editor {
    margin-top: 20px;
}

#selection:empty + #selection-editor {
    display: none;
}

#selection-editor input {
    width: 90%;
    margin-top: 4px;
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.mini {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    display: inline-block;
    border: 1px solid black;
    margin-right: -1px;
    margin-bottom: -1px;
    background-color: lightblue;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

button {
    font-size: 16px;
    padding: 7px 10px;
    border-radius: 5px;
    outline: none;
    color: white;
    background-color: #33b5e5;
    border: none;
    cursor: pointer;
    margin: 0;
}
